.main{
    text-align: center;
    margin-top: 8%;
    
}
.sub{
    display: flex;
    justify-content: space-around; 
    width: 1000px;
    margin-left: 16%;
   
       
}
h4,p{
    color: rgb(110, 108, 108);
}


